@attribute [Route(Routes.AccountNew)]

@inherits BaseView<EditAccountViewModel, (Guid, EditAccountFormViewModel?)>

<MudPaper Class="pa-10">
    @if (ViewModel.Loading)
    {
        <MudProgressCircular Size="Size.Large" Class="ma-auto" Indeterminate />
    }
    else
    {
        <MudGrid>
            <MudItem Class="py-4">
                <MudText Typo="Typo.h4">@ViewModel.Title</MudText>
            </MudItem>

            <MudItem Class="d-flex align-center justify-left mud-width-full py-8">
                <EditForm EditContext="@ViewModel.EditContext" OnSubmit="@ViewModel.OnCreate">
                    <EditAccountForm FormViewModel="@ViewModel.FormViewModel" />
                </EditForm>
            </MudItem>

            <MudButton Disabled="@ViewModel.PrimaryDisabled" Variant="Variant.Filled" OnClick="@ViewModel.OnCreate" Color="Color.Success">
                @if (ViewModel.InProgress)
                {
                    <MudProgressCircular Size="Size.Small" Color="Color.Success" Indeterminate="true" />
                }
                else
                {
                    <span>Create account</span>
                }
            </MudButton>
        </MudGrid>
    }
</MudPaper>